### importing the necessary libraries

In [2]:
import pandas as pd

### reading the dataset

In [3]:
data=pd.read_csv("bournemouth_venues.csv")

### performing basic data reading functions

In [4]:
data.head()

            Venue Name      Venue Category  Venue Latitude  Venue Longitude
0    South Coast Roast         Coffee Shop       50.720913        -1.879085
1             DelMarco  Italian Restaurant       50.721370        -1.877221
2        Lower Gardens                Park       50.719323        -1.878195
3  Bournemouth Gardens                Park       50.718990        -1.877733
4   Bournemouth Square               Plaza       50.720156        -1.879563

In [5]:
data.shape

(100, 4)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
Venue Name         100 non-null object
Venue Category     100 non-null object
Venue Latitude     100 non-null float64
Venue Longitude    100 non-null float64
dtypes: float64(2), object(2)
memory usage: 3.2+ KB

In [7]:
data['Venue Category'].nunique()

51

### finding the most popular venue categories

In [11]:
Categories= data['Venue Category'].values.tolist()

In [14]:
Categories = [cat.strip(" ") for cat in Categories]

In [15]:
Categories

['Coffee Shop',
 'Italian Restaurant',
 'Park',
 'Park',
 'Plaza',
 'Pizza Place',
 'Coffee Shop',
 'Burger Joint',
 'Park',
 'Sandwich Place',
 'Coffee Shop',
 'Gym',
 'Coffee Shop',
 'Hotel',
 'Sandwich Place',
 'Vegetarian / Vegan Restaurant',
 'Burger Joint',
 'Comfort Food Restaurant',
 'Beach',
 'Multiplex',
 'Ice Cream Shop',
 'Café',
 'Greek Restaurant',
 'Beach',
 'Coffee Shop',
 'Gym / Fitness Center',
 'Coffee Shop',
 'Park',
 'Bubble Tea Shop',
 'Modern European Restaurant',
 'Caribbean Restaurant',
 'Cocktail Bar',
 'Thai Restaurant',
 'Pub',
 'Coffee Shop',
 'Indian Restaurant',
 'Café',
 'Nightclub',
 'Art Museum',
 'Clothing Store',
 'Hotel',
 'Hotel',
 'French Restaurant',
 'Gym / Fitness Center',
 'Theater',
 'Hotel',
 'Clothing Store',
 'Bar',
 'English Restaurant',
 'Fast Food Restaurant',
 'Arts & Entertainment',
 'Bar',
 'Italian Restaurant',
 'Indian Restaurant',
 'Brewery',
 'Garden',
 'Aquarium',
 'Diner',
 'Tapas Restaurant',
 'Seafood Restaurant',
 'Mexican Restaurant',
 'Beach',
 'Sandwich Place',
 'Pub',
 'Dessert Shop',
 'Italian Restaurant',
 'Other Great Outdoors',
 'Pizza Place',
 'Italian Restaurant',
 'Chinese Restaurant',
 'Indian Restaurant',
 'Turkish Restaurant',
 'Park',
 'Fast Food Restaurant',
 'Hotel',
 'Gay Bar',
 'Bar',
 'Sandwich Place',
 'Nightclub',
 'Noodle House',
 'Plaza',
 'Mexican Restaurant',
 'Fast Food Restaurant',
 'Hotel',
 'Hotel',
 'Gay Bar',
 'Grocery Store',
 'English Restaurant',
 'Scenic Lookout',
 'Train Station',
 'Hotel',
 'Café',
 'Hotel',
 'Bus Stop',
 'Café',
 'Platform',
 'Hotel',
 'Hotel',
 'Beach',
 'French Restaurant']