### importing the necessary libraries

In [2]:
import pandas as pd

### reading the dataset

In [3]:
data=pd.read_csv("bournemouth_venues.csv")

### performing basic data reading functions

In [4]:
data.head()

            Venue Name      Venue Category  Venue Latitude  Venue Longitude
0    South Coast Roast         Coffee Shop       50.720913        -1.879085
1             DelMarco  Italian Restaurant       50.721370        -1.877221
2        Lower Gardens                Park       50.719323        -1.878195
3  Bournemouth Gardens                Park       50.718990        -1.877733
4   Bournemouth Square               Plaza       50.720156        -1.879563

In [6]:
data.shape

(100, 4)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
Venue Name         100 non-null object
Venue Category     100 non-null object
Venue Latitude     100 non-null float64
Venue Longitude    100 non-null float64
dtypes: float64(2), object(2)
memory usage: 3.2+ KB

In [15]:
data['Venue Category'].nunique()

51