## Importing necessary packages

In [27]:
import pandas as pd
import numpy as np

## Reading data from the provided link

In [3]:
data = pd.read_csv("athlete_events.csv")

In [4]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## 1. What is the number of rows and columns?

In [5]:
data.shape

(271116, 15)

In [63]:
data.shape[0]          #gives the number of rows

271116

In [64]:
data.shape[1]             #gives the number of column

15

## 5. Find a sportsperson who participated in 2002 olympics, with the highest weight among other participants of the same olympics. Find the sport in which he/she participated. ##

In [162]:
data2 = data[data['Year']==2002]

In [165]:
data2.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
72,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Downhill,NaN
73,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
74,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
75,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Slalom,NaN

In [188]:
data2.groupby('Games')['Weight'].agg('max')

Games
2002 Winter    123.0
Name: Weight, dtype: float64

In [190]:
q5 = data2[(data2['Games']=='2002 Winter') & (data2['Weight']==123.0)]

In [191]:
q5[['Name','Sport']]

                    Name      Sport
99154  Emmanuel Hostache  Bobsleigh

## 2. Select the unique columns from the dataset with sorted order.

In [34]:
data.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [42]:
data.columns.unique().sort_values(ascending=True)

Index(['Age', 'City', 'Event', 'Games', 'Height', 'ID', 'Medal', 'NOC', 'Name',
       'Season', 'Sex', 'Sport', 'Team', 'Weight', 'Year'],
      dtype='object')

In [43]:
#columns gives the column names and unique function finds the unique value, and sorts in ascending order

## 7. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [46]:
sport95=data[['Sport','Year']][(data['Year']==1995)]

In [56]:
s95 = sport95['Sport'].nunique()               #used to find the number of unique elements

In [51]:
sport16=data[['Sport','Year']][(data['Year']==2016)]

In [57]:
s16 = sport16['Sport'].nunique()

In [60]:
diff = s16-s95

#### The difference in number of sports of the two years is:

In [61]:
diff

34

## 3. What is the mean height and age of male participants in 2010 olympics?

In [75]:
data10 = data[(data['Year']==2010) & (data['Sex']=='M')]

In [78]:
males = data10[['Height', 'Age']].agg('mean')

In [79]:
males.head()

Height    180.432824
Age        26.719765
dtype: float64

## 4. What was the percentage of male gymnasts among all the male particpants of the 2000 olympics?

In [80]:
data20 = data[(data['Year']==2000) & (data['Sex']=='M')]

In [83]:
data20['Sport'].unique()

array(['Badminton', 'Athletics', 'Wrestling', 'Rowing', 'Swimming',
       'Taekwondo', 'Diving', 'Football', 'Tennis', 'Cycling', 'Hockey',
       'Basketball', 'Sailing', 'Volleyball', 'Shooting', 'Boxing',
       'Gymnastics', 'Baseball', 'Handball', 'Fencing', 'Canoeing',
       'Water Polo', 'Beach Volleyball', 'Archery', 'Weightlifting',
       'Table Tennis', 'Equestrianism', 'Judo', 'Modern Pentathlon',
       'Triathlon', 'Trampolining'], dtype=object)

In [110]:
data20['Sport'].value_counts().head()

Athletics     1437
Swimming       988
Gymnastics     642
Cycling        453
Shooting       374
Name: Sport, dtype: int64

In [103]:
tot = data20['Sport'].count()
tot

8390

In [113]:
per = (100*642/tot)

In [114]:
per

7.651966626936829

## 6. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? (If yes, how many Gold, Silver and Bronze medals).

In [115]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [140]:
winner = data[data['Year']==2016]

In [149]:
szld = winner[(winner['Team']=='Switzerland')]['Medal'].count()
szld

11

In [150]:
srb = winner[(winner['Team']=='Serbia')]['Medal'].count()
srb

54

### yes its true that Switzerland won less medals than Serbia. 43 medals less

In [151]:
szld = winner[(winner['Team']=='Switzerland')]['Medal'].value_counts()
szld

Gold      6
Silver    3
Bronze    2
Name: Medal, dtype: int64

In [152]:
srb = winner[(winner['Team']=='Serbia')]['Medal'].value_counts()
srb

Silver    27
Gold      14
Bronze    13
Name: Medal, dtype: int64

### Difference of each type of model is as shown

In [153]:
srb-szld

Bronze    11
Gold       8
Silver    24
Name: Medal, dtype: int64

## 8. Is it true that there were Summer Olympics held in Lake Placid?

In [154]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [156]:
so = data[['Season', 'City']]

In [157]:
so.head()

   Season       City
0  Summer  Barcelona
1  Summer     London
2  Summer  Antwerpen
3  Summer      Paris
4  Winter    Calgary

In [161]:
so.groupby('Season')['City']=='Lake Placid'

False