## Making a csv file of quotes

In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
website_address = "http://quotes.toscrape.com"
result = requests.get(website_address)

In [4]:
soup = BeautifulSoup(result.text, "html.parser")

In [52]:
quotes_list = soup.findAll("div",{"class": "quote"})
quotes_list_len = len(quotes_list)

In [53]:
quotes_list_len

10

In [54]:
quote_list=[]
author_list=[]
subtag=[]

In [55]:
for quote in quotes_list:
    quotation = quote.find("span",{"class":"text"})
    quote_list.append(quotation.text)
    
    author = quote.find("small",{"class":"author"})
    author_list.append(author.text)
    
    quote_tag = []
    tags = quote.findAll("a",{"class":"tag"})
    for tag in tags:
#         subtag.append(tag.text)
        quote_tag.append(tag.text)
    subtag.append(quote_tag)

In [56]:
quote_list

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [57]:
author_list

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [58]:
subtag

[['change', 'deep-thoughts', 'thinking', 'world'],
 ['abilities', 'choices'],
 ['inspirational', 'life', 'live', 'miracle', 'miracles'],
 ['aliteracy', 'books', 'classic', 'humor'],
 ['be-yourself', 'inspirational'],
 ['adulthood', 'success', 'value'],
 ['life', 'love'],
 ['edison', 'failure', 'inspirational', 'paraphrased'],
 ['misattributed-eleanor-roosevelt'],
 ['humor', 'obvious', 'simile']]

In [59]:
dict1 = {
    'Quote': quote_list,
    'Author': author_list,
    'Tags': subtag
}

In [61]:
df = pd.DataFrame.from_dict(dict1)

In [62]:
df.to_csv("Book Of Quotations.csv")

In [63]:
data = pd.read_csv("Book Of Quotations.csv")

In [64]:
data.head()

,Unnamed: 0,Quote,Author,Tags
0,0,“The world as we have created it is a process ...,Albert Einstein,"['change', 'deep-thoughts', 'thinking', 'world']"
1,1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"['abilities', 'choices']"
2,2,“There are only two ways to live your life. On...,Albert Einstein,"['inspirational', 'life', 'live', 'miracle', '..."
3,3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"['aliteracy', 'books', 'classic', 'humor']"
4,4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"['be-yourself', 'inspirational']"

In [66]:
data.columns

Index(['Unnamed: 0', 'Quote', 'Author', 'Tags'], dtype='object')

In [70]:
data.drop(['Unnamed: 0'], axis=1, inplace=True )

In [71]:
data.head()

,Quote,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"['change', 'deep-thoughts', 'thinking', 'world']"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"['abilities', 'choices']"
2,“There are only two ways to live your life. On...,Albert Einstein,"['inspirational', 'life', 'live', 'miracle', '..."
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"['aliteracy', 'books', 'classic', 'humor']"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"['be-yourself', 'inspirational']"